[2015-09-10 14:47] muupan opened #1 "Increasing memory usage of train.py"
First of all, thank you for sharing the impressive code!

I ran train.py in its GPU mode on Ubuntu 14.04 with CUDA 7.0 and GTX 970 following the instruction in README.md. Though it successfully trained the network, its usage of the host memory (not the GPU device memory) increased slowly but constantly as the training proceeded, almost using up my 32GB memory eventually. Has anyone experienced the

[2015-09-10 21:42] Russell91 commented on #1
Looking into this.

[2015-09-11 02:04] Russell91 commented on #1
Thanks for the bug report. Was able to reproduce and identified the cause of the issue as a memory leak in the hungarian_loss_layer. See https://github.com/Russell91/apollocaffe/commit/037c8edbc8e6e3d74f13beb00e3f6647614dcf02 for the fix.

As some vindication on our end, this bug was only introduced just a few weeks ago when we switched from DLib's hungarian implementation to a very lightweight c

[2015-09-11 02:04] #1 closed

[2015-09-11 10:04] muupan commented on #1
Thank you for the fix! Now the problem seems fixed.

[2015-09-17 13:30] wuqiangch opened #2 "How to do a test?"
@Russell91  Hi, Can you  share your demo code and demo model? Thanks very much!

[2015-09-17 18:20] Russell91 commented on #2
I've updated the readme to make this more clear. Does the readme now answer these questions for you?

[2015-09-18 00:35] #2 closed

[2015-09-23 03:57] carrierlxk opened #3 "question about train.py"
For the function train in train.py codes, I found that, the author also calculates the loss of test data during training:
if i % solver["test_interval"] == 0:
            net.phase = 'test'
            for _ in range(solver["test_iter"]):
                forward(net, input_gen_test.next(), config["net"], False)
                loss_hist["test"].append(net.loss)
            net.phase = 'train'
so,

[2015-09-23 04:41] Russell91 commented on #3
This is actually the loss of the validation set, and is a very important process for hyper parameter tuning. If you don't intend to modify the architecture much, you probably won't have to worry about it!

[2015-09-23 06:34] carrierlxk commented on #3
got it, thanks for your interpretation.

[2015-09-23 07:57] carrierlxk commented on #3
another question is about brainwash_800000.h5, is it the pretained model based on images from brainwash dataset? How can I save  my own pretrained model during running train.py ?

[2015-09-23 08:37] Russell91 commented on #3
Yes, the pretrained model should be exactly reproducable with the code. By default, the train.py will save to /tmp/reinspect_xxx.h5. You can change this in config.json if you like.

[2015-09-25 09:28] nyanmn opened #4 ""Out of memory" error in training apollocaffe"
I am trying to train apollocaffe with my own images. My images are quite big as 704x1248.
When I train I got error as
"Checked fail: error == cudaSuccess (2 vs 0) out of memory".
Regarding this error in caffe, I believe I need to set lower batch_size.
But in apollocaffe, where should I change lower batch_size in the configuration?
I can't find in config.json.
"Out of memory" error happened at net.

[2015-09-29 01:04] Russell91 commented on #4
The code already uses a batch size of 1 for the convolution part of the net, so there is no opportunity to reduce memory usage there. However, the LSTM is run with a batch size (704 / 32) x (1248 / 32). Reducing this to (704/64) x (1284 / 64) may yield significant memory improvements.

This would require a change to both the architecture and the label generation.

For label generation, you could c

[2015-09-29 19:10] Russell91 commented on #4
Also, if you or anyone else get's this working, please consider submitting a pull request so that others could use your extension.

[2015-09-29 22:21] lolz0r opened #5 "Lock up ipython example?"
Hello!
I have read your paper and tried out the code. I have managed to train the net on a custom data source (test loss less then 0.04!) but now I am having trouble running the ipython notebook code!

It seems to continuously run (more then 20 minutes)

test_list = list(itertools.islice(
        load_idl_list(config["data"]["test_idl"], data_mean, config["net"], False),
        0,
        num_tes

[2015-10-01 17:51] darshanhegde opened #6 "Converting .caffemodel to .hd5 format"
In the original paper, GoogLeNet part is initialized with pre-trained GoogLeNet on the same data-set in Overfeat fashion. This helps the Conv Net features adapt to the new data-set fairly quickly. I'm trying to apply ReInspect to a different dataset and have a network trained in Overfeat fashion, but in .caffemodel format. Are there any tools to convert between the .caffemodel <--> .hd5 model form

[2015-10-01 18:46] Russell91 commented on #6
Simply call net.load(caffemodel) or net.save(caffemodel). The train.py
loads the googlenet caffemodel by default, for example.
On Oct 1, 2015 10:51 AM, "Darshan Hegde" <notifications@github.com> wrote:

[2015-10-01 18:56] darshanhegde commented on #6
Thanks.

[2015-10-01 18:56] #6 closed

[2015-10-02 04:11] lolz0r commented on #5
After a little debugging it looks like the ipython code for testing out the net is not too resilient to image data loading errors. :) Fixed.

[2015-10-02 05:48] Russell91 commented on #5
Great, I was confident you were going to be able to fix this one yourself :). However, if you think the notebook could be made more resilient, feel free to make a recommendation.

[2015-10-02 22:07] darshanhegde commented on #5
@lolz0r Could you please tell me what the issue was and how you fixed it ? In my case, I'm running out of CPU memory while trying to load test_idl file.

[2015-10-02 22:50] Russell91 commented on #5
@darshanhegde can you be more specific about where in the load_idl_list function you are using up memory?

[2015-10-02 22:52] lolz0r commented on #5
When I get to a computer (maybe Sunday) I'll share my changes.

On Oct 2, 2015 3:50 PM, Russell Stewart <notifications@github.com> wrote:
@darshanhegde can you be more specific about where in the load_idl_list function you are using up memory?

---
Reply to this email directly or view it on GitHub:
https://github.com/Russell91/ReInspect/issues/5#issuecomment-145174766

[2015-10-02 23:01] lolz0r commented on #5
In words my fix was to track down where we load the images (imread) and ensure it was calling it via an import of cv2. Then verify the result of the read and if it was bad print the filename and quit. Then manually remove the offending file from the idl.

Hope this helps!

On Oct 2, 2015 3:50 PM, Russell Stewart <notifications@github.com> wrote:
@darshanhegde can you be more specific about where i

[2015-10-02 23:06] darshanhegde commented on #5
I had little mis-understanding about what "load_idl_list" function does ! I failed to account for the fact that it's a never ending generator. I was doing list(load_idl_list(...)) which obviously runs out of memory. Thanks for the help and sorry for the trouble.

[2015-10-02 23:24] Russell91 commented on #5
Okay, I've renamed this function to reduce confusion.

[2015-10-02 23:24] #5 closed

[2015-10-08 12:29] futurely opened #7 "evaluation_reinspect.ipynb is invalid ipython notebook"
The error of running `ipython notebook evaluation_reinspect.ipynb` is as follows.
[code]
The [online notebook viewer](http://nbviewer.ipython.org/github/Russell91/ReInspect/blob/master/evaluation_reinspect.ipynb) also can't display it.
[code]

[2015-10-08 19:57] Russell91 commented on #7
Okay, looks like there are some good reasons for not editing .ipynb files with vim :). This should be fixed now.

[2015-10-08 19:57] #7 closed

[2015-10-10 08:21] AKSHAYUBHAT opened #8 "tmp/reinspect.png not found"
tmp/reinspect.png not found

[2015-10-10 08:23] AKSHAYUBHAT commented on #8
Its also not required in the Ipython notebook. also you forgot
[code]

[2015-10-10 08:27] Russell91 commented on #8
Cool, thanks for the reports!

[2015-10-10 08:27] #8 closed

[2015-10-10 08:29] AKSHAYUBHAT commented on #8
Also you might want to update the default gpu to 0, otherwise it will silently change to cpu mode
[code]

[2015-10-13 08:25] wangchuan opened #9 "Question about the size of the bounding box"
I have a question about the size of the bounding box. In the first paragraph of section **Implementation details** in your paper, you mention

My questions are:
1. What is the maximal size of the bounding box, `139x139` or `64x64`?
2. What if there exists ever larger bounding boxes? How does your method handle bounding boxes larger than
	- `64x64` but smaller than `139x139`: saying a bounding box

[2015-10-13 19:52] Russell91 commented on #9
Great question. There is actually no limit to the size of predicted bounding boxes - they are just inner product outputs from the convnet that are trained with regression. However, training will work poorly for boxes that are not contained within the receptive field. So what do the numbers mean?

139x139 is the receptive field size for each predictive neuron. This is the square of pixels that that

[2015-10-26 19:30] Russell91 commented on #9
Closing this. Hopefully we were able to answer your questions well enough.

[2015-10-26 19:30] #9 closed

[2015-10-28 16:50] chenfsjz opened #10 "question for python-caffe debug problem"
@Russell91  I have add another lstm layer in the net , it seems OK in the forward period, but broken down in the when comes to the backward. I use the  spyder,but it cannot  shows backward period on the debug mode. I try to display the information in the code but it does little help.
Does there some useful methods or tools to debug .

[2015-10-28 19:17] Russell91 commented on #10
I usually use pdb to debug when things go wrong. If post-mortem debugging doesn't work for some reason, you could also edit python/apollocaffe/cpp/_apollocaffe.pyx and add `import pdb; pdb.set_trace()` to the backward() function to figure out what's going on. Generally, you have the same tools available whenever debugging in python. If you're getting a crash in the c++ code, you can paste the erro

[2015-10-31 06:37] chenfsjz commented on #10
I use Pdb to detect the problems of my code.
s

[2015-10-31 07:27] chenfsjz commented on #10
I use Pdb to detect the problems of my code. here is the part result of net, the training loss propagated back from the last layer of "label_loss".The new layers  I have added  were att_input23, att_e23 and so on.  And these new layer were declared in the vision.hpp.
   The code can  print the variabes  in my new layer,like "top[i]_diff: context_top_diff "; but it doesn't work in the apollocaffe's

[2015-10-31 16:27] Russell91 commented on #10
It is difficult for me to tell exactly. If you're getting nans it is most
likely because your new layer is producing them. I would try using only one
new layer at a time and making sure everything works well. Also you can use
gdb for debugging with python! Use gdb - -args python --config config.json
for example and set a breakpoint in your c++ code. Make sure to compile
with debugging symbols as w

[2015-10-31 16:37] chenfsjz commented on #10
Thanks a lot, I'll try this.

[2015-11-05 01:20] wuqiangch opened #11 "How to detect multiple classes ?"
If  I want to detect objects of muiltiple classes (for car,person,bike .....), how to prapare the data in the  idl text files.? Thanks!

[2015-11-05 15:35] Russell91 commented on #11
This is a good question. It's something that we don't currently support in end to end training. I know people that are using the code and simply use Reinspect for bounding boxes and then run a classifier afterwards on multiple categories. If you are feeling more ambitious, you could also add an InnerProduct layer on top of the final hidden units and classify the object category of any prediction a

[2015-11-06 09:51] #10 closed

[2015-11-12 19:21] shafiei opened #12 "multiple images at test time"
Currently, in the example provided for evaluating ReInspect, images are passed to the network one by one. Is there an example showing how to pass a batch of images (not necessarily a large batch) for evaluation at once?

[2015-11-16 18:59] Russell91 commented on #12
Right now, there is little computational advantage of batching due to the parallelism saturation in the 300 LSTMs on top. We have tested batching internally, but due to the small gains (about 20%), we don't officially support it.

[2015-11-27 01:59] kingda opened #13 "How long for the training time?"
I have put a environment that has one cpu to run reinspect.so I train this in cpu mode.when i type "python train.py --config config.json" .It starts run.And then ,it has run 1day for “Iteration 1000 - Test Loss: 0.749104”,so i hava a quesion that how long for this?

[2015-11-27 02:07] nicodjimenez commented on #13
Good luck training networks this big with a cpu, if it takes you 1 day for 1000 iterations then it will take you 80 days at least to train.  You need a decent GPU to run these kind of models.

[2015-11-27 06:16] kingda commented on #13
Thanks for your words.I will think about adding a good GPU to run it.+_+

[2015-12-07 19:07] #13 closed

[2015-12-07 19:08] #12 closed

[2015-12-09 11:22] hemanth2090 opened #14 "Testing ReInspect model on custom data"
Hi,

  I am testing the ReInspect model on my own data. I notice that the number of false positives are very high. Whether the confidence of prediction of the rectangle is 0.1 or 0.9, the number of false positives is very high.

  I feel this is happening because the LSTM is failing to produce a stop symbol. I dont understand how I can reduce the number of false positives produced from the LSTM. C

[2015-12-10 21:11] Russell91 commented on #14
This isn't a true solution, but you can edit the evaluation code to force the LSTM to produce at most N outputs for each cell.

See line 79 of https://github.com/Russell91/ReInspect/blob/master/utils/__init__.py. If you use all_rects[i][j][:1], for example, you will only get the first output.

[2015-12-11 11:11] hemanth2090 opened #15 "generate mean idl file for custom data"
Hi,

 I am training the reInspect model on my own dataset. Could someone please tell me how I can generate the mean.npy idl file?

[2015-12-11 19:08] Russell91 commented on #15
You will probably be fine just using the existing mean.npy file. That being said, if you want to generate your own:

    1) load up your images
    2) initialize the sum image (don't use uint8 data format)
    3) sum all the images into the sum image
    4) divide the sum images by the number of total images
    5) call np.transpose(sum_image, [2,0,1]) to put the sum image into CHW format
    6) s

[2015-12-12 09:17] hemanth2090 commented on #15
Thank you for the reply. Do I use both training and testing data for calculating the mean?

[2015-12-14 02:17] northeastsquare opened #16 "_apollocaffe.so: undefined symbol: PyFPE_counter"
*Hello, I met this error, could you help me? or give me some hints?
     8 import sy
      9 sys.path.append('/home/silva/cxxSrc/apollocaffe/python')
---> 10 import apollocaffe # Make sure that caffe is on the python path:
     11
     12 from utils.annolist import AnnotationLib as al

/home/silva/cxxSrc/apollocaffe/python/apollocaffe/__init__.py in <module>()
----> 1 from cpp._apollocaffe import

[2015-12-14 18:31] Russell91 commented on #16
Please 1) install caffe and verify it works. 2) follow the directions to install apollocaffe exactly. You may find https://github.com/Russell91/apollocaffe/issues/10 to be useful as well.

[2015-12-14 18:32] Russell91 commented on #15
It should not effect your results, and both are okay. But using training only would be the more typical choice.

[2015-12-14 18:32] #15 closed

[2015-12-15 00:59] northeastsquare commented on #16
Thank you for your reply.
I also met this, I have solving it for one day with no luck.
ImportError                               Traceback (most recent call last)
<ipython-input-3-f5059a448ff7> in <module>()
     10 import sys
     11 sys.path.append('/home/ccf/src/apollocaffe/python')
---> 12 import apollocaffe # Make sure that caffe is on the python path:
     13
     14 from utils.annolist impo

[2015-12-16 09:23] northeastsquare commented on #16
Thank you ,I get a new disk and reinstall, then OK.

[2015-12-21 01:58] northeastsquare opened #17 "Temporal information"
Hello, have you thought of adding temporal convolution features , or adding optical flow information, and connected with the lstm layers to do video  object detection?

[2015-12-22 02:59] #16 closed

[2015-12-29 15:29] CharlesShang opened #18 "How does reinspect use contextual information to locate the objects in an image?"
I've spent some time on the reading the code. On testing time, it takes 1 image as input, and call
[code]
to clear the memory of LstmUnit, and does FP to produce the results. Then it goes to next image.

The problem is I didn't see LstmUnit layers used any contextual info (spatial). Should the LstmUnit operate on a sequence and cache intermediate results for the next computation or just like other

[2015-12-29 16:40] nicodjimenez commented on #18
The input to the LSTM units are not raw pixels from the image, they are googlenet features.

[2015-12-30 02:23] CharlesShang commented on #18
@nicodjimenez Thanks.
And I also knew that. But that won't answer the problem, I think.
I‘m still wondering how the LstmUnit reflect the usage of contextual information.

[2015-12-30 02:35] Russell91 commented on #18
The LstmUnit only operates on contextual information insofar as its googlenet input operates on contextual information. There is no sharing of Lstm information across time, or across the 20x15 grid. The googlenet features have contextual information in the surrounding 139x139 region, despite only needing a prediction in the innermost 64x64 region.

[2015-12-30 03:02] CharlesShang commented on #18
@Russell91 Thank you!
I've spent the last three days looking for the sharing info in Lstm.  And that solves my doubts!
I guess we could change the LstmUnit layers to others, and still use Hungarian loss to achieve similar results.
Have you ever done the comparison experiments?

[2015-12-30 03:42] #18 closed

[2015-12-31 06:53] MenglaiWang opened #19 "How to test a video?"
I have successfully run your test program as suggested in evaluation_reinspect.ipynb. But i wonder how to test a video frame by frame instead of saving each frame as a picture.
To be more clear,in your test ,you have saved each frame as a png, then you write its name and path into a test.idl. I wanna know how can I test a video without these steps.
Thank you!@Russell91

[2015-12-31 18:20] Russell91 commented on #19
Hey there, thanks for your enthusiasm, but unfortunately this falls outside the scope of Deep Learning or technical problems with ReInspect. Please try asking on stackoverflow instead.

[2015-12-31 18:20] #19 closed

[2016-01-12 19:07] shaun229 opened #20 "Unable to detect on bottom half of image"
I am trying to detect people on my own images, and I currently have a strange issue where I can only detect people on the top half of the image. See the two images below:
![img_out22](https://cloud.githubusercontent.com/assets/8981153/12273668/126d3156-b91c-11e5-961f-2f53ecfcdac1.jpg)
![img_out26](https://cloud.githubusercontent.com/assets/8981153/12273673/15d98ccc-b91c-11e5-9522-6fb1662f2908.jpg)

[2016-01-12 19:26] Russell91 commented on #20
Hmm, that seems like you set up the configuration correctly. The regions are programmed in line 73 of utils/__init__.py. Do you mind printing the output of all the rectangles in cell_regions and posting them here?

[2016-01-12 19:50] shaun229 commented on #20
This is my print statement in get_cell_grid:
print ox - 0.5\*region_size, oy - 0.5\*region_size, ox + 0.5\*region_size, oy + 0.5\*region_size
The output, there are 150 rectangles:
-32.0 -32.0 64.0 64.0
0.0 -32.0 96.0 64.0
32.0 -32.0 128.0 64.0
64.0 -32.0 160.0 64.0
96.0 -32.0 192.0 64.0
128.0 -32.0 224.0 64.0
160.0 -32.0 256.0 64.0
192.0 -32.0 288.0 64.0
224.0 -32.0 320.0 64.0
256.0 -32.0 352.0 64

[2016-01-12 19:55] shaun229 commented on #20
I had increased my region_size to 96, when I revert it back to 64 this is the output:
-16.0 -16.0 48.0 48.0
16.0 -16.0 80.0 48.0
48.0 -16.0 112.0 48.0
80.0 -16.0 144.0 48.0
112.0 -16.0 176.0 48.0
144.0 -16.0 208.0 48.0
176.0 -16.0 240.0 48.0
208.0 -16.0 272.0 48.0
240.0 -16.0 304.0 48.0
272.0 -16.0 336.0 48.0
304.0 -16.0 368.0 48.0
336.0 -16.0 400.0 48.0
368.0 -16.0 432.0 48.0
400.0 -16.0 464.0 48

[2016-01-12 20:27] Russell91 commented on #20
Can you verify that the problem continues to occur for region sizes of 64? I can still try to help make it work for 96, but it would be great to make sure that the 96 is not impacting things.

[2016-01-12 20:40] shaun229 commented on #20
The problem does occur for region sizes of 64, I had just changed it to 96 this morning to see if it would fix the issue, unfortunately it didn't. Give me a moment and I will add you to the private repo. Thanks.

[2016-01-12 22:16] shaun229 commented on #20
It is now a public repo, https://github.com/shaun229/modified_reinspect, I have also added you as a collaborator. Let me know if you would like the data as well.

[2016-01-12 22:53] Russell91 commented on #20
@shaun229 it also occurs to me that the two images you've shown are not the same. You aren't training on one background and testing on a different background not seen during training, are you? Also, can you try just lowering the threshold for detection at evaluation time? I do have several examples of it working on larger images.

[2016-01-12 23:17] shaun229 commented on #20
I am not sure what you mean by background. I use the same zero mean throughout training and testing, and the images are of the same location as well. For a given image in the training set, I also add their left/right and up/down reflections to the training set. Originally I didn't use up/down reflections but after I noticed that I was unable to detect people at the bottom of the image, I thought t

[2016-01-12 23:40] Russell91 commented on #20
Yea, thanks for showing the rectangles. Definitely verifies that there is a problem. There is some nonsense going on in the python. Can you verify that your idl files indeed have rectangles mixed throughout the images?

[2016-01-12 23:48] shaun229 commented on #20
These are the idl file values for those three images:
"all_frames/8600154-2015-08-05-00-00-00-900.jpg":  (341,8, 430, 113); <-original image
"all_frames/8600154-2015-08-05-00-00-00-900-h.jpg":  (139,8, 50, 113);  <- left/right reflection
"all_frames/8600154-2015-08-05-00-00-00-900-v.jpg":  (341,312, 430, 207); <- up/down reflection
These values are correct, I verified them myself and with another

[2016-01-12 23:58] shaun229 commented on #20
Ok, I will try with the re-sized images of 480x640 and let you know the results.

[2016-01-13 02:19] shaun229 commented on #20
I ran on 480x640 images, but to no avail. I am not using any weight file, and this is the output after a few hundred training iterations.
![img_out0](https://cloud.githubusercontent.com/assets/8981153/12283148/f91c2ae4-b958-11e5-87b2-d4d346e768f4.jpg)

[2016-01-13 05:03] Russell91 commented on #20
Okay, I'm going to do a fresh `make train` and make sure something crazy is not going on. But I'm pretty sure that you've just modified something somewhere in a weird way. Can you try running the original 480x640 images with the original idl file and see what happens?

[2016-01-13 05:11] Russell91 commented on #20
Wait, did you really rewrite the evaluation script and not mention this in your claim!!! I thought these images were being output from the notebook. Ridiculous man. You've got a trivial bug in your test() function that completely explains your problems. For future reference, you're supposed to reduce your test case to the minimal possible divergence from the original code before filing a bug.

[2016-01-13 05:11] #20 closed

[2016-01-13 15:37] CharlesShang commented on #14
I found the model failed to handle the large scale variation. e.g. some images contain large people
I think you need to fine-tuning the model on your data. (region_size is an important param)
I'm doing some experiments, and the results seem quite good.

[2016-01-19 05:41] jaknap32 opened #21 "Unable to import caffe and apollocaffe in python. After importing caffe successfully, apollocaffe throws an error and vice versa"
Hi,
I installed caffe from http://caffe.berkeleyvision.org/installation.html
and apollocaffe from http://apollocaffe.com/#Installation
both of them got installed properly and get imported in python independently.
but importing apollocaffe after caffe gives this error
[code]
Following is the environment variable setting:-
[code]
Where am i going wrong? please help!

[2016-01-19 07:32] Russell91 commented on #21
Please make sure your LD_LIBRARY_PATH does not contain the original caffe's libcaffe.so. Apollocaffe contains it's own caffe version that has slight changes from the original.

[2016-01-20 02:11] jaknap32 commented on #21
Thanks, Russell for such a quick reply!! :). the LD_LIBRARY_PATH is pointing to the new libcaffe.so inside the apollocaffe folder still no luck, the same error. today will try reinstalling the whole thing.

[2016-01-20 02:14] Russell91 commented on #21
What is the output of ldd /path/to/_apollocaffe.so?

[2016-01-20 03:19] CharlesShang commented on #21
if you use ubuntu, I think you need to add a *apollocaffe.conf*  to /etc/ld.so.conf.d/
[code]

[2016-01-20 05:18] jaknap32 commented on #21
hey @Russell91 below is the output!
[code]

[2016-01-20 05:18] jaknap32 commented on #21
@CharlesShang hey thanks!, tried it. no luck!

[2016-01-21 04:24] jaknap32 commented on #21
hey guys thanks!, reinstalled the thole thing in a new ubuntu!, commented out the caffe python path. feels so goods to see both caffe and apollocaffe getting imported finally!!...

[2016-01-21 04:24] #21 closed

[2016-01-21 04:30] Russell91 commented on #21
Great news!

[2016-01-25 13:51] jaknap32 opened #22 "where to get the data folder?"
Hi Russel,
How to get the data folder that is getting mentioned in the ipython notebook?
couldn't figure out how set the test images folder using idl files. getting the default dat folder will help :)

Also running the `apollocaffe.set_device(1)` hangs and restarts the ipython kernel!
Is there a documentation to use reinspect :|

thanks in advance :)

[2016-01-27 07:21] jaknap32 commented on #22
`
mkdir -p data && cd data
wget http://russellsstewart.com/s/reinspect/brainwash_mean.npy
wget http://russellsstewart.com/s/reinspect/brainwash_800000.h5
wget http://datasets.d2.mpi-inf.mpg.de/brainwash/brainwash.tar
tar xf brainwash.tarmkdir -p data && cd data
wget http://russellsstewart.com/s/reinspect/brainwash_mean.npy
wget http://russellsstewart.com/s/reinspect/brainwash_800000.h5
wget http:/

[2016-01-27 07:21] #22 closed

[2016-02-17 10:26] #14 closed

[2016-02-17 10:38] hemanth2090 opened #23 "Improving speed on prediction"
Hi,

  In the prediction code in the ipython notebook, I see that the line below slows down the prediction by a lot.

[code]

I understand that bbox_list and conf_list correspond to the values of each of the 5 LSTM units. Is there a way in which I can decrease the time taken for the execution of the above line?

[2016-02-17 20:31] Russell91 commented on #23
This line corresponds to running the neural network on the gpu!

[2016-02-18 09:53] hemanth2090 commented on #23
Oh okay. Thank you for clarifying. Is there any way I can improve the speed of prediction using a CPU? Currently it takes about 6 seconds to predict on an image.

[2016-03-27 13:17] Tan12345 opened #24 "export the weight from caffemodel"
How to read the weights from caffemodel and save it to other file format?

[2016-03-28 06:22] Russell91 commented on #24
You'll have to be a little more descriptive about the context of what you're trying to do.

[2016-03-28 06:22] #23 closed

[2016-03-28 06:22] Russell91 commented on #23
Unfortunately, there's not too much one can do here.

[2016-03-28 08:34] Tan12345 commented on #24
i'm beginner at caffe. I had trained the CNN using caffe. I try to get the weights that i trained in caffe model. I heard that the weights are stored in .caffemodel file. How to read the .caffemodel file and export the weights inside the .caffemodel file to other file format?

[2016-03-30 06:50] #24 closed

[2016-05-13 06:41] hjl240 opened #25 "run "make eval" error"
Hi, when I run "make eval", I got error as:
vision@R730A:~/he/reinspect$ make eval
cd utils && makecython++ stitch_wrapper.pyx "" "stitch_rects.cpp ./hungarian/hungarian.cpp"
/bin/bash: makecython++: command not found

How can I solve this problem? Thanks.

[2016-05-24 05:35] desaipratik1991 commented on #22
Hi
How to get the data folder?
guide me.

Thank you

[2016-05-24 06:19] Russell91 commented on #25
Try writing `pip install runcython`

[2016-05-24 06:20] #25 closed

[2016-05-24 07:12] jaknap32 commented on #22
![image](https://cloud.githubusercontent.com/assets/6081987/15495334/d79eb05a-21ac-11e6-8bb0-bd2ed1595c84.png)

here before doing 'make eval', just do 'make data' first

[2016-05-24 08:09] desaipratik1991 commented on #22
Thank you

On Tue, May 24, 2016 at 12:42 PM, jaknap32 <notifications@github.com> wrote:

[2016-05-26 01:45] 6676401088 opened #26 "apply the .prototxt file"
Hi  Russell, I'm a student come from USTC, doing some reaserch on the same topics as you. Can you give me the prototxt file of the ReInspect caffemodel.I saw you had visualized the net structure. Thank you please.

[2016-05-27 14:15] samchorlton commented on #11
If the network has been trained primarily to detect heads within the image. If I use the Reinspect bounding box proposals for object classification are these unlikely to not be suitable for other shape objects. I.e. detecting elephants in a herd. Can i retrain the network fully with other datasets?

[2016-06-21 08:00] zxy1016 commented on #25
have u realized it?

[2016-07-06 03:33] tangtangsiqi opened #27 "makecython++ commmand not found"
thank you for your sharing. but after gitclone, running the command "  make eval ", the terminal will show make cython++ command not found error. i have installed cython and cython++,maybe i also have to install other things? i guess~waiting for your reply~

[2016-07-13 12:43] hjl240 commented on #27
You should first install apollocaffe, more infomation see http://apollocaffe.com/

[2016-07-15 16:11] arnonkahani opened #28 "Running the trained model from c++"
Hello,
I'm quite new at Caffe and I'm trying to achieve a object detection system in C++
Is it possible to run the a trained model produced by ReInspect in C++?
And if so can you please point out some guide lines.
Thanks

[2016-07-15 21:37] Russell91 commented on #28
Yes, absolutely. If you look at apollocaffe, there is a c++ api for running the network inside the apollonet.hpp file. You should be able to initialize the net and call forward from there. You'll have to save the proto from python and then run those same protos in the forward pass. I'm not actively developing apollocaffe anymore, so you're mostly on your own. But the apollonet code is actually pre

[2016-07-16 13:45] SreenivasVRao opened #29 "make eval error"
Getting this error on running `make eval`

I used the download script in github.com/Russel91/Tensorbox to get the brainwash data, but that didn't help...
[code]

[2016-07-16 18:30] arnonkahani commented on #28
Thanks very much for the quick response!
One last thing , can you please give a quick explanation about the deploy flag in the forward function.
Thanks again.

[2016-07-16 19:50] Russell91 commented on #29
Can you try running `make train` before running `make eval`?

[2016-07-16 19:50] Russell91 commented on #28
There are some layers, such as dropout, which behave differently at test
time than during training. The deploy flag is the same as in the core caffe
branch, and e.g. in the case of dropout it tells the network not to
randomly drop out neurons.

On Sat, Jul 16, 2016 at 11:30 AM, arnonkahani <notifications@github.com>
wrote:

[2016-07-18 07:01] SreenivasVRao commented on #29
actually, I ran `make data` and that worked.

[2016-09-08 14:29] brisker opened #30 "I got raw .jpg images in hand, how could I generate the .idl ground truth files?What tools should I use?"
I got raw .jpg images in hand, how could I generate the .idl ground truth files like the "brainwash_train.idl"? (I mean I need to manually select the ground truth bounding box by myself and I don't know how to generate the ground truth .idl files)What tools should I use?
Besides, how to generate the mean files?  Thank you!
@Russell91

[2016-09-09 04:33] Russell91 commented on #30
Hey, you might want to check out https://github.com/Russell91/TensorBox/blob/master/make_idl.py for an example tool.

[2016-09-09 09:53] brisker commented on #30
@Russell91   Thanks for your reply! Besides, I want to ask:
1. Is the L1Loss layer the same as the SmoothL1Loss in the initial caffe?
2. I found that the Reshape Layer is defined in python_layers.py, so if I want to use it is there  anything  different from the layers defined in the caffe_layers.py?
![image](https://cloud.githubusercontent.com/assets/13804492/18382938/c67fe574-76b5-11e6-87d0-e4d5d

[2016-09-10 14:24] brisker opened #31 "Error when adapting to my own data"
I have made sure that my data are all in size 640 \* 480 , why this error when I start training?(My images are in .jpg format)
Traceback (most recent call last):
  File "train.py", line 294, in <module>
    main()
  File "train.py", line 291, in main
    train(config)
  File "train.py", line 239, in train
    forward(net, input_gen.next(), config["net"])
  File "train.py", line 35, in load_idl

[2016-09-13 07:50] brisker commented on #9
@wangchuan   @Russell91   The googlenet inception5b output size is 1024*7*7, so what does 1024*15*20 mean in the  paper?
![image](https://cloud.githubusercontent.com/assets/13804492/18465499/aa9c27c0-79c9-11e6-87c5-c8b79a678af9.png)

[2016-09-14 06:32] gregary commented on #9
@brisker
The googlenet inception5b output size is 1024 * 7 * 7 when the input image is 224 * 224 * 3.
In Russell's paper ,the input image's size is 480 * 640 * 3, and the output is 1024 * 15 * 20.
224/34 = 7,480/32=15,640/32=20

[2016-09-16 21:33] Russell91 commented on #9
@gregary yea that is correct

[2016-09-20 07:11] arushk1 commented on #31
What was the solution to this issue?

[2016-09-20 07:14] arushk1 opened #32 "Assertion Error on custom dataset"
I'm facing this issue in training on the Caltech-Pedestrian Dataset :

`2016-09-20 12:39:15 - GPU device 0
2016-09-20 12:39:47 - Iteration    0 - Train Loss: 0.960499
2016-09-20 12:39:47 - Iteration    0 - Test Loss: 1.13333
2016-09-20 12:39:56 - Iteration  100 - Train Loss: 0.980917
Traceback (most recent call last):
  File "train.py", line 326, in <module>
    main()
  File "train.py", line 323,

[2016-09-20 10:42] brisker commented on #31
@Russell

[2016-09-20 10:43] brisker commented on #31
@Russell91

[2016-09-20 20:10] Russell91 commented on #32
This looks like a label error where x1 >x2.

On Sep 20, 2016 12:14 AM, "arushk1" <notifications@github.com> wrote:

[2016-09-21 11:04] arushk1 commented on #32
I checked my data_prep script to make sure x1 is never greater than x2. Same for y1, y2. The error still seems to crop up @Russell91

[2016-09-23 06:40] brisker opened #33 "how to train my own data from scratch without weights_file?"
how to set the paramters in config.json to train from scratch without pretrained model?
 "solver": {
        "base_lr": 0.2,
        "max_iter": 200000,
        "test_iter": 500,
        "test_interval": 1000,
        "momentum": 0.5,
        "random_seed": 2,
        "clip_gradients": 0.1,
        "gamma": 0.8,
        "stepsize": 100000,
        "weights": ""
    },

[2016-09-23 19:37] Russell91 commented on #33
Just modify train.py and comment out the model load lines.

On Sep 22, 2016 23:40, "jccdoer" <notifications@github.com> wrote:

[2016-09-24 06:18] brisker opened #34 "Can the number of LSTM controllers--300 be modified in the code?"
I looked into the code but can not find where the author defined the parameter--300(15 \* 20) described in the paper. So if I changed both the CNN architecture(maybe vggnet or zfnet) and the input image size ,and the CNN output feature map size changed from 15 \* 20  to 31 \* 31, do I need any change in the code that indicates that 300 is replaced by 31 \* 31=961?(except in the config.json file)

[2016-09-24 07:26] Russell91 commented on #34
Yea, the numbers 15 and 20 are in 2 lines within the json file. You can just modify those to 31, 32.

[2016-09-24 10:04] brisker commented on #34
why not 31 * 31？

发自我的 iPhone

[2016-09-25 10:56] brisker opened #35 "I replace the googlenet with vggnet pretrained model, the training went well but when I run test.py, the bounding boxes are just in the top left corner in the test image. Why?(vggnet output size is 31*31)"
I make sure that the training process went well, I added "print (abs_cx,abs_cy,w,h,conf)" in the test.py line 68 and got this(part of it):
(21, 38, 34.730034, 33.405338, 0.47580633)
(15, 39, 37.085682, 34.380287, 0.59705061)
(19, 40, 38.540291, 34.062744, 0.63981855)
(30, 39, 36.952221, 33.679222, 0.64361179)
(45, 39, 37.614788, 35.532516, 0.53727657)
(65, 36, 37.687569, 35.020634, 0.3192482)
(80,

[2016-09-25 14:02] brisker commented on #35
Does line 96 of _init_.py matters?
![image](https://cloud.githubusercontent.com/assets/13804492/18815737/99178e6c-836b-11e6-91a8-7669a46f12c2.png)
Or does /utils/rect.py line 11-16 matters?
![image](https://cloud.githubusercontent.com/assets/13804492/18815743/c1e37dce-836b-11e6-9fb8-6ee61adc4d69.png)

[2016-09-28 07:51] lapvision commented on #35
you must change the cell_size in _init_.py (line:76)
the output size of inception_5b/output is 1024x15x20, so the cell_size = 480/15 = 32.
If the output size of layer, which will be connected to lstm layer, is not 15x20xN, you must change the cell_size.

[2016-10-06 09:59] brisker opened #36 "cross_entropy loss definition"
![image](https://cloud.githubusercontent.com/assets/13804492/19148266/688fa9e2-8bee-11e6-849a-0c90d1c6bb6b.png)
@Russell91
So does the definition of
![image](https://cloud.githubusercontent.com/assets/13804492/19148281/79c53e48-8bee-11e6-8dea-a8a661a28716.png)
means that if a candidate bounding box is matched to a ground truth box, then
![image](https://cloud.githubusercontent.com/assets/13804492/

[2016-10-06 22:02] Russell91 commented on #36
Yea, that's correct.

[2016-10-07 04:24] brisker commented on #9
@Russell91
Hello, in line 73 of _init_.py defines the cell_size:
def get_cell_grid(cell_width, cell_height, region_size):

    cell_regions = []
    cell_size = 32
but what is the meaning of cell_size?  I know that the input image size 480 * 640  / 32 equals the grid size  15*30 ,but what is the meaning of 32?
Second, in your paper you mentioned each cell can predict boxes in the central 64*64 reg

[2016-11-04 04:55] atique81 opened #37 "make train fails -- err msg says "no module named munkres""
Dear @Russell91 ,

When I run the command make train, all required data are downloaded nicely, but then it fails throwing the following error message.

Could you please advise what might be going wrong. I have installed all python dependencies for apollocaffe.
.....................................
cd data && tar xf brainwash.tar
Training...
python train.py --config config.json --gpu 0
Traceback (m

[2016-11-04 04:57] Russell91 commented on #37
Please run `pip install munkres`

On Thu, Nov 3, 2016 at 9:55 PM, atique81 <notifications@github.com> wrote:

[2016-11-04 05:04] atique81 commented on #37
Thank you so much @Russell91 . Why didn't I notice that dependency!!

[2016-11-07 08:03] atique81 opened #38 "train.py script seems to have a silly bug"

[2016-11-07 08:21] #38 closed

[2016-11-07 21:04] atique81 opened #39 "Does ReInspect support batch processing?"
Dear @Russell91 ,

is it possible to train ReInspect in mini batches?

[2016-11-08 21:25] atique81 opened #40 "Unlike train images, test images not resized by the network"
Dear @Russell91

while the train.py script does resize the train images to 640x480, test images are not resized (https://github.com/Russell91/ReInspect/blob/master/train.py#L37), and therefore, the evaluation ipython script complains for images of size different than 640x480. So, do I just resize the test images using scipy.misc.imresize() to 640x480 (after train.py#L37), or I need to resize it in

[2016-11-08 22:11] Russell91 commented on #40
Yeah, you can resize using any function. You can also just edit the image
size to some multiple of 32 in the json file, and the resize will happen
dynamically. This will be a little slower, but more convenient.

Best,
Russell

On Tue, Nov 8, 2016 at 1:25 PM, atique81 <notifications@github.com> wrote:

[2016-11-08 23:35] atique81 commented on #40
@Russell91, thank you so much for the reply. I am just wondering, how is it possible to subtract the image mean of size 640X480 from a test image of different size, even though the image may be an integer multiple of 32 (https://github.com/Russell91/ReInspect/blob/master/train.py#L37).

[2016-11-08 23:36] atique81 commented on #39
Dear @Russell91 ,
could you please share your thoughts on batch processing for ReInspect?

[2016-11-18 13:45] dbolkensteyn commented on #31
I think the problem simply comes from your .idl files: The ground-truth bounding boxes should be listed in this format:

[code]

Top-left and bottom-right are the 2 points forming the rectangle of your bounding box.

The assertion which is failing in your case checks that: {{top_left_x < bottom_right_x and top_left_y < bottom_right_y}}.

[2016-12-02 06:31] liyuming1978 commented on #25
please clone https://github.com/Russell91/runcython   and set the path.   makecython++ is implemented  by the auth.

[2016-12-07 13:54] Yadukrishnan opened #42 "Error: stitch_rect() takes exactly 2 arguments (1 given)"
I am encountering this error while trying to run the algorithm. Have anyone encountered this before. Any help would be appreciated.

[2016-12-07 14:28] aanabansal opened #43 "Testing brainwash_800000.h5"
Hi all, I'm sorry for having to ask such a basic question but I just started using caffe a few weeks ago and have never worked with ApolloCaffe.

I would like to run brainwash_800000.h5 and see what bounding boxes it produces. How do I go about doing this? Is there a test.py script I can modify? Thank you in advance.

[2016-12-12 03:43] atique81 commented on #43
just run the evaluation_reinspect.ipynb notebook (https://github.com/Russell91/ReInspect/blob/master/evaluation_reinspect.ipynb). its all done there.

[2016-12-12 04:06] atique81 opened #44 "Explanation of multiple calls to the filter_rects() during stitching"
Hello @Russell91
Could you please explain the intuition behind the multiple calls to the method filter_rects() during the stitching process inside the stitch_wrapper.pyx script (https://github.com/Russell91/ReInspect/blob/master/utils/stitch_wrapper.pyx#L50)?

Your paper does not seem to have any clarification, or explanation, or even mention of this!

[2016-12-12 04:17] atique81 opened #45 "Explanation of overlaps along the X-axis between two bounding boxes"
Dear @Russell91 ,
for determining overlaps along the X-axis between two bounding boxes, could you please explain why you divide by 1.5 instead of 2, as mentioned in rect.py (https://github.com/Russell91/ReInspect/blob/master/utils/rect.py#L10), or stitch_rects.hpp (https://github.com/Russell91/ReInspect/blob/master/utils/stitch_rects.hpp#L43)?

[2016-12-13 17:57] atique81 commented on #11
Hello @Russell91 ,

what about training for detection of multiple body parts (e.g., head, torso etc.) simultaneously? If I just have multiple parallel LSTM chains (one for each body part), and then take the sum of the losses for all chains, how likely is it that it would work?
I would highly appreciate any suggestion.

[2016-12-25 23:29] atique81 opened #46 "s"

[2016-12-26 03:14] #46 closed

[2017-01-23 03:30] nyanmn opened #47 "Interfacing Python code to Cpp code"
Dear @Russell91,
I am trying to understand the Reinspect code and net.f() is the mostly used function in this Reinspect.
In Apollo library's C code (Apollonet.cpp), I found `Dtype ApolloNet<Dtype>::f(shared_ptr<Layer<Dtype> > layer)`, is it the function handling layers?

When I look at test.py code in Reinspect, there is net.f() interface used mostly and I can't figure out how this python code `ne

[2017-04-01 15:03] #36 closed

[2017-04-01 15:06] #30 closed

[2017-04-01 15:07] #31 closed

[2017-04-01 15:09] #33 closed

[2017-04-01 15:09] #34 closed

[2017-04-01 15:09] #35 closed

[2017-04-15 03:59] Johnson-yue opened #48 "Layer Convolution has no keyword argument"
hi Russell:
       when I made Apollocaffe successfully,  I`m very happy. But then I run #simply.py the error info print, such as this:
`
:~/Deep_Learning/apollocaffe/examples$ cd apollocaffe/
char_model/ cpp/        theano/
:~/Deep_Learning/apollocaffe/examples$ cd apollocaffe/
:~/Deep_Learning/apollocaffe/examples/apollocaffe$ ls
char_model  cpp  simple.py  theano
:~/Deep_Learning/apollocaffe/ex

[2017-04-16 10:31] #48 closed

[2017-04-16 10:35] Johnson-yue commented on #30
@Russell91 hi, the link : https://github.com/Russell91/TensorBox/blob/master/make_idl.py is not exist,

[2017-05-11 09:49] Vishwa34 opened #49 "Unable to download brainwash pre-trained weights and mean image"
Getting Bad Gateway error while trying to reach http://russellsstewart.com to download required files for evaluation_reinspect. It seems like the website is down.
Few other people are facing the same issue [here](https://github.com/TensorBox/TensorBox/issues/236) while downloading files from TensorBox from last 15 days.
Is there any other source to download these files??

[2017-05-11 10:45] ttywhu commented on #49
I also need the pre-trained weights and mean image.

[2017-05-17 15:55] danieldeng92 commented on #29
I just ran into the same problem (it's been several days). I cannot download data because of 502 Bad Gateway from russellsstewart.com.

[2017-05-18 08:37] YangXiangChen commented on #49
I need the pre-trained weights and mean image too. Can anyone provide these files?

[2017-05-30 20:45] jongsony commented on #35
@brisker I wonder can you share your vggnet.py?
Thanks in advance

[2017-07-05 09:21] Johnson-yue commented on #49
Yes, I also need these files , anyone can provide?

[2017-07-14 09:03] Samaneh1994 opened #50 "Layer Convolution has no keyword argument kernel_w=7"
Hi,
After the installation of Caffe & Apollocaffe, I attempted to run the code but stuck with the error:
 "
 raise AttributeError('Layer %s has no keyword argument %s=%s' % (param_type, k, v))
AttributeError: Layer Convolution has no keyword argument kernel_w=7

"
the file that pointed the error is:
/ReInspect-master/../apollocaffe/python/apollocaffe/models/googlenet.py", line 21, in googlenet_lay

[2017-08-04 08:32] Samaneh1994 opened #51 "No Makefile.config in apollocaffe's package"
Hi, recently I wanted to reinstall apollocaffe, I executed this command in terminal :

after this I  looked inside of apollocaffe for "Makefile.config" , but there isn't there, just "Makefile.config.example "
I used cmake for installing apollocaffe but after installing it doesn't contain : apollocaffe.so.

I looked Russell91's git about inside of apollocaffe's package , and I didn't see Makefile.c

[2017-08-07 20:29] #51 closed

[2017-09-07 13:08] haoli-buaa opened #52 "Can this code used in cpu-only mode?"
I ran this code on a computer without gpu and ended up with the error below. Can this code used in cpu-only mode?
`Cannot use GPU in CPU-only Caffe: check mode.`

[2017-09-07 13:55] haoli-buaa commented on #52
I ran the cpu-only mode with
`python train.py --config config.json`
and got the error
`AttributeError: Layer Convolution has no keyword argument kernel_w=7`

[2017-09-11 09:35] haoli-buaa commented on #50
I met this error too. Have you solved it ?

[2017-09-11 09:40] haoli-buaa commented on #48
I met this error too, did you solved it?

[2017-09-11 12:51] haoli-buaa commented on #49
I uploaded the data to  :      `http://pan.baidu.com/s/1kVGEYnt`

[2017-09-11 13:00] #52 closed

[2017-09-12 07:11] Vishwa34 commented on #49
Thank you and I think original site is also working now

[2017-09-12 07:11] #49 closed

[2017-09-13 08:45] Samaneh1994 commented on #50
@haoli-buaa  I solved this error by chasing the work around that is in [https://github.com/Russell91/apollocaffe/issues/65](this) post .
This workaround:

[2017-09-13 21:25] ml9951 commented on #34
@brisker, did you figure this out?

[2017-10-27 12:56] kingsvalley opened #53 "brainwash_mean.npy cannot be downloaded"
Dear @Russell91 :
The file http://russellsstewart.com/s/reinspect/brainwash_mean.npy cannot be downloaded, and the website http://apollocaffe.com cannot be accessed.

[2017-11-06 02:12] yschao commented on #53
I have the same problem. Can you solve it?

[2017-11-15 09:23] kingsvalley commented on #53
@yschao  I have solved it by computing the mean file in my computer.

[2017-12-14 06:54] thachhoang1909 commented on #53
@kingsvalley  Could you tell me how to compute this file, please?

[2018-01-18 02:41] ujsyehao commented on #29
@SreenivasVRao Hi, when you finished make data, Can you run make eval and has no error?

[2018-01-18 02:43] ujsyehao commented on #49
@haoli-buaa Hi, Can you run the demo successfully? I have errors

[2018-01-20 12:49] ujsyehao opened #54 "make train fails: make: *** [train] Floating point exception (core dumped)"
Anyone can give me advice about it?

[2018-01-20 12:50] ujsyehao commented on #54
![34](https://user-images.githubusercontent.com/17454232/35183577-8783c150-fe23-11e7-971c-a3378bcc623b.png)

[2018-03-01 02:04] wolf345 opened #55 "make: *** [train] Error 1"
why ?   Ｔｈａｎｋｓ
2018-03-01 09:55:35 - GPU device 0
Traceback (most recent call last):
  File "train.py", line 294, in <module>
    main()
  File "train.py", line 291, in main
    train(config)
  File "train.py", line 261, in train
    forward(net, input_gen_test.next(), config["net"], False)
  File "train.py", line 35, in load_idl
    target_height=net_config["img_height"])
  File "/home/wolf/Docum

[2018-03-01 02:06] wolf345 commented on #54
2018-03-01 09:55:35 - GPU device 0
Traceback (most recent call last):
  File "train.py", line 294, in <module>
    main()
  File "train.py", line 291, in main
    train(config)
  File "train.py", line 261, in train
    forward(net, input_gen_test.next(), config["net"], False)
  File "train.py", line 35, in load_idl
    target_height=net_config["img_height"])
  File "/home/wolf/Documents/reinspect/

[2018-03-01 02:10] wolf345 commented on #53
File "train.py", line 294, in <module>
    main()
  File "train.py", line 291, in main
    train(config)
  File "train.py", line 261, in train
    forward(net, input_gen_test.next(), config["net"], False)
  File "train.py", line 35, in load_idl
    target_height=net_config["img_height"])
  File "/home/wolf/Documents/reinspect/apollocaffe-master/reinspect/utils/__init__.py", line 150, in annotation

[2018-03-06 06:44] chengtingting opened #56 "cannot PING apollocaffe.com"
I can not visit apollocaffe.com, please tell me how to solve it? thank u!

[2018-04-02 07:46] PumayHui commented on #55
@wolf345
Change File "/home/wolf/Documents/reinspect/apollocaffe-master/reinspect/utils/init.py", line 145, in
`
    x1 = max(0, px)
    y1 = max(0, py)
    x2 = min(rescaled_width, target_width - x1)
    y2 = min(rescaled_height, target_height - y1)

    I2[0:(y2 - y1), 0:(x2 - x1), :] = I1[y1:y2, x1:x2, :]
`
to
`
    x1 = int(max(0, px))
    y1 = int(max(0, py))
    x2 = int(min(rescaled_width,

[2018-04-02 07:52] PumayHui commented on #53
@kingsvalley Could you tell me how to compute this file, please? Thanks!
@thachhoang1909 Did you solve the problem about '.npy' file?

[2018-05-19 02:59] xuguozhi commented on #49
@haoli-buaa 不错，测试样例能跑起来了吗？

[2018-07-23 02:22] ujsyehao commented on #54
@pyupcgithub No, I give up it.

[2018-08-16 11:50] HIWFSS commented on #53
@kingsvalley @yschao @thachhoang1909 @wolf345 @PumayHui Your problem has been solved?please help

[2018-08-21 02:11] wolf345 commented on #53
Please give me your email, I will send it to you. @pyupcgithub

[2018-08-21 02:13] wolf345 commented on #53
Should be the label of the data, you check if the label is compliant。 @HIWFSS

[2018-08-21 03:38] pyupcgithub commented on #53
@wolf345 thank you although i have solved it.

[2018-08-24 04:49] aditya-vora commented on #43
@aanabansal I am facing the same issue. Seems like the model file is missing. Want to know from where I can download the model file directly. Require it very urgently. Kindly help. Thank you in advance.

[2018-08-24 04:54] aditya-vora commented on #43
What I found is, during make train, it is supposed to download some data, however, the data at that link is missing i.e. the link is no more existing. Please suggest some alternative for downloading the model file. Thanks in advance.

[2018-08-24 05:02] aditya-vora commented on #53
@pyupcgithub How did you solve the issue? I mean you can find the mean manually, but make eval is also downloading the model file from this link http://russellsstewart.com/s/reinspect/brainwash_800000.h5 which is not existing, without it the evaluation notebook is throwing an error. Can anyone suggest what to do? @Russell91 It would be a great help if you could provide a link to download the model

[2018-08-24 12:38] HIWFSS commented on #53
@wolf345 Can brainwash_mean.npy and brainwash_800000.h5 be sent to me? My email address is 2544616016@qq.com. Thank you very much

[2018-11-08 02:49] moyan007 commented on #53
@wolf345 Can brainwash_mean.npy and brainwash_800000.h5 be sent to me? My email address is 2048205015@qq.com. Thanks a lot

[2018-11-26 01:54] Weviya opened #57 "learning rate"
I am confused  about why  the previous part of the network  has a higher learning rate?

[2019-01-17 17:51] karthee320 commented on #22
The download link seems invalid, could you kindly help with that?

[2019-01-18 09:56] karthee320 commented on #49
Can anyone help me in getting these files, I am not able to download both in the original site as well as in Baidu's

[2019-12-04 09:43] CasonTsai opened #58 "what is the speed of the inferencing an image?"
hello,i am interested in operations that use lstm for detection and do not use NMS.May i ask what is the speed of the inferencing an image?